section.c-error.c-alert
	.c-container
		.c-alert_box
			.c-alert_box__icon.c-error_icon
			.c-alert_box__message
				.c-alert_box__title.c-error_title Упс...
				p.c-alert_box__text Выберите диапазон дат для подбора билета
			button.c-alert_box__button.c-error_button.c-btn Закрыть
