.c-calendar
	.c-container

		.c-calendar_box
			// calendar month
			.c-calendar_box__month

				// calendar next
				.c-calendar_box__next
					i.fa.fa-chevron-left

				// calendar current
				.c-calendar_current
					// calendar current month
					span.c-calendar_current__month февраль 
					// calendar current year
					span.c-calendar_current__year 2017

				// calendar prev
				.c-calendar_box__prev
					i.fa.fa-chevron-right
			
			// calendar week list
			ul.c-calendar_box__week.c-calendar_flex
				li ПН
				li ВТ
				li СР
				li ЧТ
				li ПТ
				li СБ
				li ВС
			
			// calendar days list
			ul.c-calendar_box__days.c-calendar_flex
				li.muted
					span 30
				li.muted
					span 31
				li
					span 1
				li
					span 2
				li
					span 3
				li
					span 4
				li
					span 5
				li.active
					span 6
				li
					span 7
				li
					span 8
				li
					span 9
				li
					span 10
				li
					span 11
				li
					span 12
				li
					span 13
				li
					span 14
				li
					span 15
				li
					span 16
				li
					span 17
				li
					span 18
				li
					span 19
				li
					span 20
				li
					span 21
				li
					span 22
				li
					span 23
				li
					span 24
				li
					span 25
				li
					span 26
				li
					span 27
				li
					span 28
				li.muted
					span 1
				li.muted
					span 2
				li.muted
					span 3
				li.muted
					span 4
				li.muted
					span 5
			
			// calendar bottom info & submit
			.c-calendar_box__bottom
				p Мы подберем для вас лучшие направления в период с 
					span 9.02 
					| по 
					span 17.02
				button.c-calendar_box__button.c-btn Готово!
