section.c-thanks.c-alert
	.c-container
		.c-alert_box
			.c-alert_box__icon.c-thanks_icon
			.c-alert_box__message
				.c-alert_box__title.c-thanks_title Спасибо!
				p.c-alert_box__text Ваш запрос обрабатывается, Вы получите Push-уведомление с результатами подбора
			button.c-alert_box__button.c-thanks_button.c-btn Готово!
