
<section class="c-search">
  <div class="c-container">
    <div class="c-tickets_logo"><img src="assets/img/logo.png" alt="China tickets logo"/></div>
    <div class="c-search_form">
      <form>
        <!-- fields(cities) start-->
        <div class="c-search_form__cities">
          <!-- field(city) start-->
          <div class="c-search_form__city">
            <input type="text" placeholder="Киев"/>
            <div class="c-search_form__range">
              <ul class="c-range_list">
                <li class="c-range_list__item">
                  <div class="c-range_list__city"><span>Киев Украина</span></div>
                  <div class="c-range_list__airports"><span>Все аэропорты</span></div>
                </li>
                <li class="c-range_list__item">
                  <div class="c-range_list__city"><span>Киш Айленд Иран</span></div>
                  <div class="c-range_list__airports"><span>Киш Айленд</span></div>
                </li>
                <li class="c-range_list__item">
                  <div class="c-range_list__city"><span>Key West</span></div>
                  <div class="c-range_list__airports"><span>International</span></div>
                </li>
                <li class="c-range_list__item">
                  <div class="c-range_list__city"><span>Рам-Ки Багамы</span></div>
                  <div class="c-range_list__airports"><span>Рам-Ки</span></div>
                </li>
                <li class="c-range_list__item">
                  <div class="c-range_list__city"><span>Киев Украина</span></div>
                  <div class="c-range_list__airports"><span>Все аэропорты</span></div>
                </li>
              </ul>
            </div>
          </div>
          <!-- field(city) end-->
        </div>
      </form>
    </div>
  </div>
</section>