
<div class="c-calendar">
  <div class="c-container">
    <div class="c-calendar_box">
      <!-- calendar month-->
      <div class="c-calendar_box__month">
        <!-- calendar next-->
        <div class="c-calendar_box__next"><i class="fa fa-chevron-left"></i></div>
        <!-- calendar current-->
        <div class="c-calendar_current">
          <!-- calendar current month--><span class="c-calendar_current__month">февраль </span>
          <!-- calendar current year--><span class="c-calendar_current__year">2017</span>
        </div>
        <!-- calendar prev-->
        <div class="c-calendar_box__prev"><i class="fa fa-chevron-right"></i></div>
      </div>
      <!-- calendar week list-->
      <ul class="c-calendar_box__week c-calendar_flex">
        <li>ПН</li>
        <li>ВТ</li>
        <li>СР</li>
        <li>ЧТ</li>
        <li>ПТ</li>
        <li>СБ</li>
        <li>ВС</li>
      </ul>
      <!-- calendar days list-->
      <ul class="c-calendar_box__days c-calendar_flex">
        <li class="muted"><span>30</span></li>
        <li class="muted"><span>31</span></li>
        <li><span>1</span></li>
        <li><span>2</span></li>
        <li><span>3</span></li>
        <li><span>4</span></li>
        <li><span>5</span></li>
        <li class="active"><span>6</span></li>
        <li><span>7</span></li>
        <li><span>8</span></li>
        <li><span>9</span></li>
        <li><span>10</span></li>
        <li><span>11</span></li>
        <li><span>12</span></li>
        <li><span>13</span></li>
        <li><span>14</span></li>
        <li><span>15</span></li>
        <li><span>16</span></li>
        <li><span>17</span></li>
        <li><span>18</span></li>
        <li><span>19</span></li>
        <li><span>20</span></li>
        <li><span>21</span></li>
        <li><span>22</span></li>
        <li><span>23</span></li>
        <li><span>24</span></li>
        <li><span>25</span></li>
        <li><span>26</span></li>
        <li><span>27</span></li>
        <li><span>28</span></li>
        <li class="muted"><span>1</span></li>
        <li class="muted"><span>2</span></li>
        <li class="muted"><span>3</span></li>
        <li class="muted"><span>4</span></li>
        <li class="muted"><span>5</span></li>
      </ul>
      <!-- calendar bottom info & submit-->
      <div class="c-calendar_box__bottom">
        <p>Мы подберем для вас лучшие направления в период с <span>9.02 </span>по <span>17.02 </span></p>
      </div>
    </div>
  </div>
</div>