
<!-- *******************-->
<!-- Sidebar list item (link)-->
<!-- *******************-->
<li class="c-sidebar_list__item"><a href="#"><i aria-hidden="true"></i><span></span></a></li>
<!-- *******************-->
<!-- Sidebar user logged in-->
<!-- *******************-->
<div class="c-sidebar_head__thumb"></div>
<div class="c-sidebar_head__content"><span class="c-sidebar_name">Евгений</span><span class="c-sidebar_surname">Голдманиулио</span></div>
<!-- *******************-->
<!-- Sidebar user need to login-->
<!-- *******************-->
<div class="c-sidebar_head__thumb"></div>
<div class="c-sidebar_head__content"><span class="c-sidebar_login">Войти в аккаунт</span></div>