
<!-- sidebar start-->
<div class="c-sidebar c-sidebar_overlay">
  <!-- sidebar content start-->
  <div class="c-sidebar_content">
    <!-- sidebar toggle-->
    <div class="sidebar-toogle"><i class="fa fa-times"></i></div>
    <!-- sidebar head start--><a href="" class="c-sidebar_head">
      <div style="background-image: url(assets/img/alert-icon-thanks.png);" class="c-sidebar_head__thumb"></div>
      <div class="c-sidebar_head__content"><span class="c-sidebar_name">Евгений</span><span class="c-sidebar_surname">Голдманиулио</span></div></a>
    <!-- sidebar head end-->
    <!-- sidebar menu start-->
    <div class="c-sidebar_menu">
      <!-- sidebar menu list start-->
      <ul class="c-sidebar_list">
        <li class="c-sidebar_list__item"><a href="#"><i aria-hidden="true" class="fa fa-user"></i><span>Мой профиль</span></a></li>
        <li class="c-sidebar_list__item"><a href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i><span>Мои заказы</span></a></li>
        <li class="c-sidebar_list__item"><a href="#"><i class="fa fa-suitcase"></i><span>Уведомления</span><span class="num">24</span></a></li>
        <li class="c-sidebar_list__item"><a href="#"><i aria-hidden="true" class="fa fa-search"></i><span>Поиск авиабилетов</span></a></li>
        <li class="c-sidebar_list__item"><a href="#"><i aria-hidden="true" class="fa fa-info-circle"></i><span>Дополнительная информация</span></a></li>
        <li class="c-sidebar_list__item"><a href="#"><i aria-hidden="true" class="fa fa-suitcase"></i><span>Связаться с нами</span></a></li>
      </ul>
      <!-- sidebar menu list end-->
    </div>
    <!-- sidebar menu end-->
    <!-- sidebar bottom start-->
    <div class="c-sidebar_bottom">
      <!-- sidebar bottom share start-->
      <div class="c-sidebar_bottom__share">
        <ul class="c-sidebar_list">
          <li class="c-sidebar_list__item"><a href="#"><i aria-hidden="true" class="fa fa-pencil"></i><span>Оставить отзыв</span></a></li>
          <li class="c-sidebar_list__item"><a href="#"><i aria-hidden="true" class="fa fa-share-alt"></i><span>Поделиться с друзьями</span></a></li>
        </ul>
        <ul class="c-sidebar_list">
          <li class="c-sidebar_list__item"><a href="#"><i aria-hidden="true" class="fa fa-sliders"></i><span>Настройки</span></a></li>
          <li class="c-sidebar_list__item"><a href="#"><i aria-hidden="true" class="fa fa-power-off"></i><span>Выйти</span></a></li>
        </ul>
      </div>
      <!-- sidebar bottom share end-->
    </div>
  </div>
</div>
<!-- sidebar end-->