<img src="assets/img/veliver_logo.svg" alt=""/>
<section class="v-calc">
  <div class="container">
    <div class="row">
      <div class="v-calc_top">
        <div class="col-md-3 v-calc_box">
          <div class="v-calc_box__title">hello</div><img src="" alt="" class="v-calc_box__img"/>
          <div class="v-calc_box__exp"><i class="fa fa-question"></i></div>
        </div>
        <div class="col-md-3 v-calc_box">
          <div class="v-calc_box__title">hello</div><img src="" alt="" class="v-calc_box__img"/>
          <div class="v-calc_box__exp"><i class="fa fa-question"></i></div>
        </div>
        <div class="col-md-3 v-calc_box">
          <div class="v-calc_box__title">hello</div><img src="" alt="" class="v-calc_box__img"/>
          <div class="v-calc_box__exp"><i class="fa fa-question"></i></div>
        </div>
        <div class="col-md-3 v-calc_box">
          <div class="v-calc_box__title">hello</div><img src="" alt="" class="v-calc_box__img"/>
          <div class="v-calc_box__exp"><i class="fa fa-question"></i></div>
        </div>
      </div>
      <div class="v-calc_bottom">
        <div class="col-md-3 v-calc_box">
          <div class="v-calc_box__title">hello</div><img src="" alt="" class="v-calc_box__img"/>
          <div class="v-calc_box__exp"><i class="fa fa-question"></i></div>
        </div>
        <div class="col-md-3 v-calc_box">
          <div class="v-calc_box__title">hello</div><img src="" alt="" class="v-calc_box__img"/>
          <div class="v-calc_box__exp"><i class="fa fa-question"></i></div>
        </div>
        <div class="col-md-3 v-calc_box">
          <div class="v-calc_box__title">hello</div><img src="" alt="" class="v-calc_box__img"/>
          <div class="v-calc_box__exp"><i class="fa fa-question"></i></div>
        </div>
        <div class="col-md-3 v-calc_box">
          <div class="v-calc_box__title">hello</div><img src="" alt="" class="v-calc_box__img"/>
          <div class="v-calc_box__exp"><i class="fa fa-question"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>